<div class="flex min-h-full flex-col items-center justify-center px-5 py-5 lg:px-0">
  <div class="flex flex-col lg:flex-row">
    <div class="group relative">
      <div *ngIf="user && user['roles'].includes('admin')" class="absolute right-0 top-0 z-10">
        <p-fileupload (uploadHandler)="(null)" class="transition-opacity group-hover:opacity-100 lg:opacity-0" mode="basic" chooseIcon="pi pi-pencil" accept="image/*" maxFileSize="1000000" [customUpload]="true" [auto]="true" chooseLabel="" chooseStyleClass="p-button-icon-only p-button-text p-button-sm !text-[#00ff00]" />
      </div>
      <app-cld-image name="nicolaspaillard/profile" maxWidth="400"></app-cld-image>
    </div>
    <div class="card flex flex-col justify-center border-t-0 p-10 lg:border-l-0 lg:border-t-2">
      <h1 class="m-0 -mb-2 text-3xl font-light tracking-wider lg:text-5xl">Nicolas Paillard</h1>
      <ngx-typed-js [strings]="strings" [loop]="true" [shuffle]="true" [backSpeed]="30" [typeSpeed]="30">
        <i class="text-lg lg:text-2xl">
          Développeur
          <span class="typing relative inline-block text-[var(--p-primary-color)] after:absolute after:block after:w-full after:border-0 after:border-b-[1px] after:border-solid after:border-[#0f0] after:content-['']"></span>
        </i>
      </ngx-typed-js>
    </div>
  </div>
</div>
