<div class="flex h-full flex-col items-center justify-center px-5 py-5 lg:px-0">
  <div class="mx-auto hidden items-center gap-2 lg:flex">
    <p-button (onClick)="resetTemplate()" icon="pi pi-trash" label="Réinitialiser"></p-button>
    <p-button (onClick)="loadTemplate()" icon="pi pi-refresh" label="Recharger"></p-button>
    <p-button (onClick)="uploadTemplate()" icon="pi pi-save" label="Sauvegarder"></p-button>
    <p-fileupload (uploadHandler)="importModel($event)" chooseIcon="pi pi-upload" chooseLabel="Importer modèle" id="upload-model" class="inline-flex" mode="basic" accept=".pdf" maxFileSize="1000000" [customUpload]="true" [auto]="true" />
    <p-fileupload (uploadHandler)="importTemplate($event)" chooseIcon="pi pi-upload" chooseLabel="Importer template" id="upload-template" class="inline-flex" mode="basic" accept=".json" maxFileSize="1000000" [customUpload]="true" [auto]="true" />
    <p-button (onClick)="downloadTemplate()" icon="pi pi-download" label="Télécharger"></p-button>
    <p-button (onClick)="downloadPDF()" icon="pi pi-file-pdf" label="Générer"></p-button>
  </div>
  <p-splitbutton menuStyleClass="!absolute" class="mx-auto lg:hidden" label="Sauvegarder" (onClick)="uploadTemplate()" [model]="menuItems" />
  <div id="container" class="mt-2 h-full w-full overflow-hidden"></div>
</div>
