<div class="group card relative flex w-[calc(50%-2.5rem)] p-10 before:absolute before:top-1/2 before:h-[2px] before:w-10 before:-translate-y-full before:bg-[green] before:content-['']" [ngClass]="right ? 'ml-auto before:-left-[calc(theme(spacing.10)+1px)]' : 'flex-row-reverse before:-right-[calc(theme(spacing.10)+1px)]'">
  <div class="absolute top-0" [ngClass]="right ? 'left-0' : 'right-0'">
    <p-button *ngIf="user && isAdmin" icon="pi pi-pencil" class="opacity-0 transition-opacity group-hover:opacity-100" [text]="true" size="small" (onClick)="onExperienceEdit.emit(experience)" />
    <p-button *ngIf="user && isAdmin" icon="pi pi-trash" class="opacity-0 transition-opacity group-hover:opacity-100" [text]="true" size="small" severity="danger" (onClick)="onExperienceRemoved.emit(experience)" />
  </div>

  <div class="flex w-60 shrink-0 flex-col border-0 border-solid border-white/25" [ngClass]="right ? 'mr-5 border-r pr-5 text-end' : 'ml-5 border-l pl-5'">
    <h3>{{ experience.start.getFullYear() }} - {{ experience.end.getFullYear() }}</h3>
    <span>{{ experience.company }}</span>
    <span>{{ experience.address }}</span>
    <span>{{ experience.city }} {{ experience.postcode }}</span>
  </div>
  <div [ngClass]="right ? '' : 'text-end'">
    <h3>{{ experience.title }}</h3>
    <p class="">{{ experience.text }}</p>
    <div [dir]="right ? '' : 'rtl'">
      <ul [ngClass]="{ 'text-start': !right }" *ngIf="experience.activities.length">
        <li *ngFor="let activity of experience.activities.split(';')">{{ activity }}</li>
      </ul>
    </div>
  </div>
</div>
