<div class="flex min-h-full flex-col items-center justify-center px-5 py-5 lg:px-0">
  <p-button *ngIf="user && user['roles'].includes('admin')" size="large" class="mb-5 block text-center" icon="pi pi-plus" [text]="true" (onClick)="openDialog()"></p-button>
  <div class="grid grid-cols-1 items-stretch gap-5 lg:grid-cols-3">
    <app-category *ngFor="let category of categories" [skills]="category.skills" [title]="category.title" (onCategoryEdit)="editing = category.title; formCategory.setValue({ title: category.title }); isDialogCategoryShown = true" (onCategoryRemoved)="deleteCategory($event)" (onSkillEdit)="openDialog($event)" (onSkillRemoved)="deleteSkill($event)"></app-category>
  </div>
</div>

<p-dialog [modal]="true" header="Modifier une catégorie" contentStyleClass="flex flex-col gap-2" [dismissableMask]="true" [(visible)]="isDialogCategoryShown">
  <form [formGroup]="formCategory" class="flex flex-col gap-2 *:flex *:justify-evenly *:gap-2 [&>label]:gap-0 [&_label]:flex [&_label]:w-full [&_label]:flex-col">
    <label>
      Titre
      <p-select [options]="categories" formControlName="title" placeholder="Catégorie" [editable]="true" optionLabel="title" optionValue="title" appendTo="body" />
    </label>
  </form>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="isDialogCategoryShown = false" [text]="true">Annuler</p-button>
    <p-button (onClick)="updateCategory(); isDialogCategoryShown = false" [disabled]="!formCategory.valid">Modifier</p-button>
  </div>
</p-dialog>
<p-dialog [modal]="true" [header]="(editing.length ? 'Modifier' : 'Ajouter') + ' une compétence'" contentStyleClass="flex flex-col gap-2" [dismissableMask]="true" [(visible)]="isDialogSkillShown">
  <form [formGroup]="formSkill" class="flex flex-col gap-2 *:flex *:justify-evenly *:gap-2 [&>label]:gap-0 [&_label]:flex [&_label]:w-full [&_label]:flex-col">
    <label>
      Titre
      <input pInputText type="text" formControlName="title" />
    </label>
    <div>
      <label>
        Catégorie
        <p-select [options]="categories" formControlName="category" placeholder="Catégorie" [editable]="true" optionLabel="title" optionValue="title" appendTo="body" />
      </label>
      <label>
        Icône
        <p-select [options]="devIcons" formControlName="icon" [showClear]="true" placeholder="Icône" appendTo="body" [filter]="true" [virtualScroll]="true" [virtualScrollItemSize]="38">
          <ng-template pTemplate="selectedItem">
            <div class="flex items-center gap-2" *ngIf="formSkill.value.icon">
              <img width="24" height="24" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ formSkill.value.icon.includes('dot-net') ? 'dot-net' : formSkill.value.icon.split('-')[0] }}/{{ formSkill.value.icon }}.svg" />
              <span class="w-full truncate">{{ formSkill.value.icon }}</span>
            </div>
          </ng-template>
          <ng-template let-icon pTemplate="item">
            <div class="flex items-center gap-2">
              <img width="24" height="24" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ icon.includes('dot-net') ? 'dot-net' : icon.split('-')[0] }}/{{ icon }}.svg" />
              <span class="w-full truncate">{{ icon }}</span>
            </div>
          </ng-template>
        </p-select>
      </label>
    </div>
  </form>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="isDialogSkillShown = false" [text]="true">Annuler</p-button>
    <p-button (onClick)="editing.length ? updateSkill() : createSkill(); isDialogSkillShown = false" [disabled]="!formSkill.valid">{{ editing.length ? "Modifier" : "Ajouter" }}</p-button>
  </div>
</p-dialog>
