<div class="flex min-h-full flex-col gap-10 py-10">
  <p-button *ngIf="user && user['roles'].includes('admin')" size="large" class="block text-center" icon="pi pi-plus" [text]="true" (onClick)="openDialog()"></p-button>
  <div class="grid grid-cols-3 items-stretch gap-10">
    <app-project *ngFor="let project of projects" [project]="project" (onProjectEdit)="openDialog(project)" (onProjectRemoved)="deleteProject(project)"></app-project>
  </div>
</div>

<p-dialog [modal]="true" [header]="(editing.id.length ? 'Modifier' : 'Ajouter') + ' un projet'" contentStyleClass="flex flex-col gap-2" [dismissableMask]="true" [(visible)]="isDialogShown">
  <form [formGroup]="formProject" class="flex flex-col gap-2 *:flex *:justify-evenly *:gap-2 [&>label]:gap-0 [&_label]:flex [&_label]:w-full [&_label]:flex-col">
    <div>
      <label>
        Début
        <p-datepicker formControlName="start" appendTo="body" dateFormat="dd/mm/yy" />
      </label>
      <label>
        Fin
        <p-datepicker formControlName="end" appendTo="body" dateFormat="dd/mm/yy" />
      </label>
    </div>
    <div>
      <label>
        Titre
        <input pInputText type="text" formControlName="title" />
      </label>
      <label>
        URL
        <input pInputText type="text" formControlName="url" />
      </label>
    </div>

    <label>
      Texte
      <textarea pTextarea formControlName="text"></textarea>
    </label>
    <div>
      <label>
        Société
        <input pInputText formControlName="company" />
      </label>
      <label>
        Adresse
        <input pInputText formControlName="address" />
      </label>
    </div>
    <div>
      <label>
        Code postal
        <input pInputText formControlName="postcode" />
      </label>
      <label>
        Ville
        <input pInputText formControlName="city" />
      </label>
    </div>
    <label class="!block">
      Activités
      <span *ngIf="!activities.length" class="opacity-50">&nbsp;(Aucune activité)</span>
      <div *ngFor="let activity of activities" class="group relative flex items-center justify-between ps-6 transition-colors after:absolute after:left-2 after:h-[6px] after:w-[6px] after:rounded-full after:bg-white after:opacity-50 after:content-[''] hover:bg-black/10" [pTooltip]="activity" tooltipPosition="bottom">
        <span class="block max-w-[400px] truncate pe-2 opacity-50">{{ activity }}</span>
        <p-button icon="pi pi-trash" class="opacity-0 transition-opacity group-hover:opacity-100" styleClass="w-auto" [text]="true" size="small" severity="danger" (onClick)="removeActivity(activity)" />
      </div>
    </label>
    <label>
      Ajouter une activité
      <p-inputGroup>
        <input #activity pInputText placeholder="Activité" />
        <button [disabled]="!activity.value" type="button" pButton icon="pi pi-plus" (click)="addActivity(activity.value)"></button>
      </p-inputGroup>
    </label>
    <label class="!block">
      Images
      <span *ngIf="editing.id && !images._files.length" class="opacity-50">&nbsp;(Aucune modification)</span>
      <p-fileUpload #images [multiple]="true" accept="image/*">
        <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
          <p-button (onClick)="chooseCallback()" icon="pi pi-images" [outlined]="true"></p-button>
          <p-button (onClick)="clearCallback()" icon="pi pi-times" [outlined]="true" severity="danger" [disabled]="!files || files.length === 0" />
        </ng-template>
      </p-fileUpload>
    </label>
  </form>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="isDialogShown = false" [text]="true">Annuler</p-button>
    <p-button (onClick)="editing.id.length ? updateProject(images._files) : createProject(images._files)" [disabled]="!formProject.valid">{{ editing.id.length ? "Modifier" : "Ajouter" }}</p-button>
  </div>
</p-dialog>
