<div class="flex min-h-full flex-col p-10 lg:px-0">
  <p-button *ngIf="user && user['roles'].includes('admin')" size="large" class="block text-center" icon="pi pi-plus" [text]="true" (onClick)="openDialog()"></p-button>
  <p-table dataKey="id" [value]="applications" size="small" [expandedRowKeys]="expandedRows">
    <ng-template #header>
      <tr>
        <th></th>
        <th pSortableColumn="title">
          Titre
          <p-sortIcon field="title" />
        </th>
        <th pSortableColumn="company">
          Société
          <p-sortIcon field="company" />
        </th>
        <th pSortableColumn="activity">
          Activité
          <p-sortIcon field="activity" />
        </th>
        <th pSortableColumn="contactDate">
          Date de contact
          <p-sortIcon field="contactDate" />
        </th>
        <th pSortableColumn="relaunchDate">
          Date de relance
          <p-sortIcon field="relaunchDate" />
        </th>
        <th pSortableColumn="answerDate">
          Date de réponse
          <p-sortIcon field="answerDate" />
        </th>
        <th pSortableColumn="answer">
          Réponse
          <p-sortIcon field="answer" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-application let-expanded="expanded">
      <tr class="group relative">
        <td class="w-0">
          <p-button type="button" pRipple [pRowToggler]="application" [text]="true" [plain]="true" size="small" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
        </td>
        <td>{{ application.title }}</td>
        <td>{{ application.company }}</td>
        <td>{{ application.activity }}</td>
        <td>{{ application.contactDate | date: "dd/MM/yyyy" }}</td>
        <td>{{ application.relaunchDate | date: "dd/MM/yyyy" }}</td>
        <td>{{ application.answerDate | date: "dd/MM/yyyy" }}</td>
        <td>{{ application.answer }}</td>
      </tr>
    </ng-template>
    <ng-template #expandedrow let-application>
      <tr>
        <td colspan="8">
          <div class="flex items-center justify-between">
            <div>
              Adresse
              <br />
              {{ application.address }}
            </div>
            <div>
              Contacts
              <br />
              {{ application.contacts }}
            </div>
            <div>
              Commentaires
              <br />
              {{ application.comments }}
            </div>
            <div>
              <p-button icon="pi pi-pencil" [text]="true" size="small" (onClick)="openDialog(application)" />
              <p-button icon="pi pi-trash" [text]="true" size="small" severity="danger" (onClick)="deleteApplication(application)" />
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [modal]="true" [header]="(editing.id.length ? 'Modifier' : 'Ajouter') + ' une candidature'" contentStyleClass="flex flex-col gap-2" [dismissableMask]="true" [(visible)]="isDialogShown">
  <form [formGroup]="formApplication" class="flex flex-col gap-2 *:flex *:justify-evenly *:gap-2 [&>label]:gap-0 [&_label]:flex [&_label]:w-full [&_label]:flex-col">
    <div>
      <label>
        Titre
        <input pInputText formControlName="title" />
      </label>
      <label>
        Société
        <input pInputText formControlName="company" />
      </label>
    </div>

    <div>
      <label>
        Activité
        <input pInputText formControlName="activity" />
      </label>
      <label>
        Adresse
        <input pInputText formControlName="address" />
      </label>
    </div>

    <div>
      <label>
        Liens
        <textarea pTextarea formControlName="links"></textarea>
      </label>
      <label>
        Commentaires
        <textarea pTextarea formControlName="comments"></textarea>
      </label>
    </div>
    <div>
      <label>
        Contacts
        <textarea pTextarea formControlName="contacts"></textarea>
      </label>
      <label>
        Réponse
        <textarea pTextarea formControlName="answer"></textarea>
      </label>
    </div>
    <div>
      <label>
        Date de contact
        <p-datepicker formControlName="contactDate" appendTo="body" dateFormat="dd/mm/yy"></p-datepicker>
      </label>
      <label>
        Date de relance
        <p-datepicker formControlName="relaunchDate" appendTo="body" dateFormat="dd/mm/yy"></p-datepicker>
      </label>
      <label>
        Date de réponse
        <p-datepicker formControlName="answerDate" appendTo="body" dateFormat="dd/mm/yy"></p-datepicker>
      </label>
    </div>
  </form>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="isDialogShown = false" [text]="true">Annuler</p-button>
    <p-button (onClick)="editing.id.length ? updateApplication() : createApplication(); isDialogShown = false" [disabled]="!formApplication.valid">{{ editing.id.length ? "Modifier" : "Ajouter" }}</p-button>
  </div>
</p-dialog>
