<div class="flex min-h-full flex-col justify-center p-10">
  <p-button *ngIf="user && user['roles'].includes('admin')" size="large" class="block text-center" icon="pi pi-plus" [text]="true" (onClick)="openDialog()"></p-button>
  <div class="relative w-full grow py-10">
    <div class="bg-primary absolute top-1 left-1/2 h-full w-[2px] -translate-x-[calc(100%-1px)] rounded-sm"></div>
    <div class="border-b-primary absolute top-0 left-1/2 -translate-x-[10px] border-t-0 border-r-[10px] border-b-[15px] border-l-[10px] border-solid border-transparent"></div>
    <app-experience (onExperienceRemoved)="deleteExperience(experience)" (onExperienceEdit)="openDialog(experience)" *ngFor="let experience of experiences; let index = index" [experience]="experience" [right]="index % 2 != 0" class="block nth-[n+4]:mt-5 lg:nth-[n+4]:-mt-10"></app-experience>
  </div>
</div>
<p-dialog [modal]="true" [header]="(idEdit.length ? 'Modifier' : 'Ajouter') + ' une expérience'" contentStyleClass="flex flex-col gap-2" [dismissableMask]="true" [(visible)]="isDialogShown">
  <form [formGroup]="formExperience" class="flex flex-col gap-2 *:flex *:justify-evenly *:gap-2 [&_label]:flex [&_label]:w-full [&_label]:flex-col [&>label]:gap-0">
    <div>
      <label>
        Début
        <p-datepicker formControlName="start" appendTo="body" dateFormat="dd/mm/yy" />
      </label>
      <label>
        Fin
        <p-datepicker formControlName="end" appendTo="body" dateFormat="dd/mm/yy" />
      </label>
    </div>
    <label>
      Titre
      <input pInputText type="text" formControlName="title" />
    </label>
    <label>
      Texte
      <textarea pTextarea formControlName="text"></textarea>
    </label>
    <div>
      <label>
        Société
        <input pInputText formControlName="company" />
      </label>
      <label>
        Adresse
        <input pInputText formControlName="address" />
      </label>
    </div>
    <div>
      <label>
        Code postal
        <input pInputText formControlName="postcode" />
      </label>
      <label>
        Ville
        <input pInputText formControlName="city" />
      </label>
    </div>
    <label class="block!">
      Activités
      <span *ngIf="!activities.length" class="opacity-50">&nbsp;(Aucune activité)</span>
      <div *ngFor="let activity of activities" class="group relative flex items-center justify-between ps-6 transition-colors after:absolute after:left-2 after:h-[6px] after:w-[6px] after:rounded-full after:bg-white after:opacity-50 after:content-[''] hover:bg-black/10">
        <!-- [pTooltip]="activity" tooltipPosition="bottom" -->
        <span class="block max-w-[400px] truncate pe-2 opacity-50">{{ activity }}</span>
        <div class="opacity-0 transition-opacity group-hover:opacity-100">
          <p-button icon="pi pi-angle-up" styleClass="w-auto" [disabled]="activities[0] == activity" [text]="true" size="small" severity="secondary" (onClick)="moveActivity(activity, true)" />
          <p-button icon="pi pi-angle-down" styleClass="w-auto" [disabled]="activities[activities.length - 1] == activity" [text]="true" size="small" severity="secondary" (onClick)="moveActivity(activity)" />
          <p-button icon="pi pi-trash" styleClass="w-auto" [text]="true" size="small" severity="danger" (onClick)="removeActivity(activity)" />
        </div>
      </div>
    </label>
    <label>
      Ajouter une activité
      <p-inputGroup>
        <input #activity pInputText placeholder="Activité" />
        <p-button [disabled]="!activity.value" icon="pi pi-plus" (onClick)="addActivity(activity.value)" />
      </p-inputGroup>
    </label>
  </form>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="isDialogShown = false" [text]="true">Annuler</p-button>
    <p-button (onClick)="idEdit.length ? updateExperience() : createExperience(); isDialogShown = false" [disabled]="!formExperience.valid">{{ idEdit.length ? "Modifier" : "Ajouter" }}</p-button>
  </div>
</p-dialog>
