<div class="group card relative p-5 lg:p-10">
  <div *ngIf="user && user['roles'].includes('admin')" class="absolute top-0 right-0 z-10 transition-opacity group-hover:opacity-100 lg:opacity-0">
    <p-button icon="pi pi-pencil" [text]="true" size="small" (onClick)="onCategoryEdit.emit(title)" />
    <p-button icon="pi pi-trash" [text]="true" size="small" severity="danger" (onClick)="onCategoryRemoved.emit(title)" />
  </div>
  <h3 class="mb-1 text-lg font-bold">{{ title }}</h3>
  <div class="flex flex-wrap justify-center gap-1">
    <app-skill class="flex-[1_0_calc(50%-calc(var(--spacing)/2))]" *ngFor="let skill of skills" [skill]="skill" (onSkillEdit)="onSkillEdit.emit($event)" (onSkillRemoved)="onSkillRemoved.emit($event)"></app-skill>
  </div>
</div>
