<div class="group card relative h-full p-10">
  <div *ngIf="user && isAdmin" class="absolute right-0 top-0 z-10">
    <p-button icon="pi pi-pencil" class="opacity-0 transition-opacity group-hover:opacity-100" [text]="true" size="small" (onClick)="onCategoryEdit.emit(title)" />
    <p-button icon="pi pi-trash" class="opacity-0 transition-opacity group-hover:opacity-100" [text]="true" size="small" severity="danger" (onClick)="onCategoryRemoved.emit(title)" />
  </div>
  <h3 class="mt-0">{{ title }}</h3>
  <div class="grid grid-cols-3 gap-2">
    <app-skill *ngFor="let skill of skills" [skill]="skill" (onSkillEdit)="onSkillEdit.emit($event)" (onSkillRemoved)="onSkillRemoved.emit($event)"></app-skill>
  </div>
</div>
