<canvas class="absolute top-0 right-0 bottom-0 left-0 opacity-50" (window:resize)="matrix()"></canvas>
<div class="flex h-full w-full flex-col overflow-hidden" [@routeAnimations]="prepareRoute(outlet)">
  <nav class="card sticky top-0 z-20 container mx-auto flex justify-between gap-2 border-b-0 p-2 lg:justify-center lg:border-b-2">
    <div class="inline-flex items-stretch gap-2">
      <p-button class="h-full lg:hidden" styleClass="h-full" icon="pi pi-bars" [text]="true" (onClick)="menuShown.checked = !menuShown.checked"></p-button>
      <p-button size="large" styleClass="text-black!" (onClick)="downloadCV()">CV</p-button>
      <p-button routerLink="/" styleClass="h-full" size="large" routerLinkActive="*:border-primary! *:border!" [routerLinkActiveOptions]="{ exact: true }" [text]="true" icon="pi pi-home"></p-button>
      <input #menuShown type="checkbox" class="peer hidden" />
      <div
        class="z-10 flex overflow-hidden"
        [ngClass]="{
          'lg:relative lg:top-0 lg:mx-auto lg:max-h-full lg:w-auto lg:flex-row lg:justify-center lg:gap-2 lg:border-0 lg:bg-transparent lg:px-0': true,
          'card absolute top-full -right-[2px] -left-[2px] max-h-0 flex-col border-t-0 px-2 transition-[max-height] peer-checked:max-h-[999px]!': true,
        }">
        <ng-container *ngFor="let route of routes">
          <p-button class="mb-2 lg:mb-0" styleClass="w-full" *ngIf="!route.canActivate || !route.data!['role'] || (user && user['roles'].includes(route.data!['role']))" size="large" (onClick)="menuShown.checked = false" [routerLink]="route.path" routerLinkActive="*:border-primary! *:border!" [label]="route.title + ''" [text]="true"></p-button>
        </ng-container>
      </div>
    </div>
    <p-button *ngIf="!user" size="large" styleClass="text-black!" (onClick)="isSigninShown = true">Connexion</p-button>
    <p-button *ngIf="user" size="large" styleClass="text-black!" (onClick)="signout()">Déconnexion</p-button>
  </nav>
  <div class="relative container mx-auto grow overflow-x-hidden" [ngClass]="{ 'overflow-hidden!': isTransitioning }">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
<app-animation></app-animation>
<p-toast [life]="5000" position="top-right"></p-toast>
<p-confirmDialog [dismissableMask]="true"></p-confirmDialog>
<p-dialog header="Connexion" [modal]="true" [(visible)]="isSigninShown" [dismissableMask]="true">
  <form [formGroup]="formSignin" class="mb-2 flex flex-col gap-2 *:flex *:justify-evenly *:gap-2 [&_label]:flex [&_label]:w-full [&_label]:flex-col [&>label]:gap-0">
    <label>
      Email
      <input pInputText type="text" formControlName="email" />
    </label>
    <label>
      Mot de passe
      <input pInputText type="password" formControlName="password" />
    </label>
  </form>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="isSigninShown = false" [text]="true">Annuler</p-button>
    <p-button *ngIf="!user" (onClick)="isSigninShown = false; isSignupShown = true" [outlined]="true">Inscription</p-button>
    <p-button (onClick)="signin()" [disabled]="!formSignin.valid">Connexion</p-button>
  </div>
</p-dialog>
<p-dialog header="Inscription" [modal]="true" [(visible)]="isSignupShown" [dismissableMask]="true">
  <form [formGroup]="formSignup" class="mb-2 flex flex-col gap-2 *:flex *:w-full *:flex-col">
    <label>
      Email
      <input pInputText type="text" formControlName="email" />
    </label>
    <label>
      Mot de passe
      <p-password formControlName="password" [feedback]="false" />
    </label>
    <label>
      Répétez le mot de passe
      <p-password formControlName="passwordrepeat" [feedback]="false" />
    </label>
  </form>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="isSignupShown = false" [text]="true">Annuler</p-button>
    <p-button (onClick)="signup()" [disabled]="!formSignup.valid">Inscription</p-button>
  </div>
</p-dialog>
