<canvas class="absolute bottom-0 left-0 right-0 top-0 opacity-50" (window:resize)="matrix()"></canvas>
<div class="flex h-screen flex-col" [@routeAnimations]="prepareRoute(outlet)">
  <nav class="container card sticky top-0 z-20 mx-auto lg:justify-center">
    <label for="nav" class="block lg:hidden">
      <p-button class="h-full" styleClass="pointer-events-none !h-full" icon="pi pi-bars" [text]="true" (onClick)="(null)"></p-button>
      <input id="nav" type="checkbox" class="peer hidden" />
      <div class="absolute top-full z-10 -ml-[2px] max-h-0 w-[calc(100%+4px)] overflow-hidden bg-black/50 transition-[max-height] peer-checked:!max-h-[999px]">
        <div class="card flex flex-col gap-1 border-t-0 p-1">
          <ng-container [ngTemplateOutlet]="buttons"></ng-container>
        </div>
      </div>
    </label>
    <div class="hidden h-full items-center justify-center *:h-full *:px-1 *:py-2 lg:flex"><ng-container [ngTemplateOutlet]="buttons"></ng-container></div>
    <ng-template #buttons>
      <p-button size="large" (onClick)="downloadCV()">CV</p-button>
      <p-button routerLink="/" size="large" styleClass="!h-full" routerLinkActive="[&>*]:!border [&>*]:!border-solid [&>*]:!border-[var(--primary-color)]" [routerLinkActiveOptions]="{ exact: true }" [text]="true" icon="pi pi-home"></p-button>
      <ng-container *ngFor="let route of routes">
        <p-button *ngIf="!route.canActivate || !route.data!['role'] || (user && user['roles'].includes(route.data!['role']))" size="large" [routerLink]="route.path" routerLinkActive="[&>*]:!border [&>*]:!border-solid [&>*]:!border-[var(--primary-color)]" [label]="route.title + ''" [text]="true" styleClass="rounded-lg capitalize"></p-button>
      </ng-container>
      <div class="flex items-center justify-center gap-1">
        <p-button *ngIf="!user" size="large" (onClick)="isSignupShown = true">Inscription</p-button>
        <p-button *ngIf="!user" size="large" (onClick)="isSigninShown = true">Connexion</p-button>
        <p-button *ngIf="user" size="large" (onClick)="signout()">Déconnexion</p-button>
      </div>
    </ng-template>
  </nav>
  <div class="container relative mx-auto grow overflow-x-hidden" [ngClass]="{ '!overflow-hidden': isTransitioning }">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
<p-toast [life]="5000" position="top-right"></p-toast>
<p-confirmDialog [dismissableMask]="true"></p-confirmDialog>
<p-dialog header="Connexion" [modal]="true" [(visible)]="isSigninShown" [dismissableMask]="true">
  <form [formGroup]="formSignin" class="mb-2 flex flex-col gap-2 *:flex *:justify-evenly *:gap-2 [&>label]:gap-0 [&_label]:flex [&_label]:w-full [&_label]:flex-col">
    <label>
      Email
      <input pInputText type="text" formControlName="email" />
    </label>
    <label>
      Mot de passe
      <input pInputText type="password" formControlName="password" />
    </label>
  </form>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="isSigninShown = false" [text]="true">Annuler</p-button>
    <p-button (onClick)="signin()" [disabled]="!formSignin.valid">Connexion</p-button>
  </div>
</p-dialog>
<p-dialog header="Inscription" [modal]="true" [(visible)]="isSignupShown" [dismissableMask]="true">
  <form [formGroup]="formSignup" class="mb-2 flex flex-col gap-2 *:flex *:w-full *:flex-col">
    <label>
      Email
      <input pInputText type="text" formControlName="email" />
    </label>
    <label>
      Mot de passe
      <p-password formControlName="password" [feedback]="false" />
    </label>
    <label>
      Répétez le mot de passe
      <p-password formControlName="passwordrepeat" [feedback]="false" />
    </label>
  </form>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="isSignupShown = false" [text]="true">Annuler</p-button>
    <p-button (onClick)="signup()" [disabled]="!formSignup.valid">Inscription</p-button>
  </div>
</p-dialog>
