<div [ngClass]="{ 'pointer-events-auto opacity-100': isAnimationShown }" class="pointer-events-none absolute bottom-0 left-0 right-0 top-0 z-20 flex items-center justify-center bg-black/50 p-5 opacity-0 transition-opacity">
  <div class="flex max-h-full max-w-full flex-col items-end gap-2">
    <div class="card flex h-[480px] max-h-full w-[720px] max-w-full bg-black p-5">
      <div [id]="containerId" class="h-full w-full overflow-y-auto">
        <div class="flex h-auto w-full flex-col font-mono">
          <span *ngFor="let line of text" class="w-full text-nowrap leading-none" [innerHTML]="line | safeHtml"></span>
        </div>
      </div>
    </div>
    <p-button label="Passer" (onClick)="skip()"></p-button>
  </div>
</div>
