@import url(primeicons/primeicons.css);
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Aldrich;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  margin-top: 0;
}

img {
  display: block;
}

.p-link,
.p-component {
  border-radius: 0 !important;
}

.p-button-icon-only.p-button-sm {
  width: auto !important;
}

.p-datepicker,
.p-inputtext,
.p-select {
  width: 100%;
}

.p-button:not([class*="p-button-"]) {
  color: black !important;
}

.p-carousel .p-carousel-content {
  position: relative;
}
.p-carousel .p-carousel-content > *:not(.p-carousel-viewport) {
  position: absolute;
  z-index: 1;
}
.p-carousel .p-carousel-content > *:not(.p-carousel-viewport):first-child {
  left: theme("spacing.1");
}
.p-carousel .p-carousel-content > *:not(.p-carousel-viewport):last-child {
  right: theme("spacing.1");
}
.p-carousel .p-carousel-content > *:not(.p-carousel-viewport) > button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.p-select-items-wrapper .p-scroller-content {
  position: relative;
  width: 100%;
}
