@use "tailwindcss" as *
@use "primeicons/primeicons.css" as *
@plugin "tailwindcss-primeui"
@import "https://fonts.googleapis.com/css2?family=Aldrich&display=swap"

@layer components
  .card
    background-color: rgba(20, 20, 20, 0.1)
    border: 2px solid #00c800
    backdrop-filter: blur(4px)

html,
body
  height: 100%
  font-family: Aldrich
  background-color: black
  line-height: 1.2

.p-link,
.p-component
  border-radius: 0 !important

.p-button-icon-only.p-button-sm
  width: auto !important

.p-datepicker,
.p-inputtext,
.p-select
  width: 100%

.p-button:not([class*="p-button-"])
  color: black !important

.p-carousel .p-carousel-content
  position: relative

.p-carousel .p-carousel-content
  > *:not(.p-carousel-viewport)
    position: absolute
    z-index: 1
    &:first-child
      left: calc(var(--spacing) * 1)
    &:last-child
      right: calc(var(--spacing) * 1)
    > button:hover
      background-color: rgba(0, 0, 0, 0.3) !important

.p-select-items-wrapper .p-scroller-content
  position: relative
  width: 100%
