@import "primeicons/primeicons.css"
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap')
@tailwind base
@tailwind components
@tailwind utilities

html,body
    margin: 0
    height: 100%

body
    font-family: Aldrich
    background-color: black
    color: white

h1,h2,h3,h4,h5,h6
    font-size: 16px
    margin-top: 0

img
    display: block

.p-link,.p-component
    border-radius: 0 !important

.p-button-icon-only.p-button-sm
    width: auto !important

.p-datepicker,.p-inputtext,.p-select
    width: 100%

.p-button:not([class*='p-button-'])
    color: black !important

.p-carousel
    .p-carousel-content
        position: relative
        > *:not(.p-carousel-viewport)
            position: absolute
            z-index: 1
            &:first-child
                left: theme('spacing.1')
            &:last-child
                right: theme('spacing.1')
            > button:hover
                background-color: rgba(0,0,0,.3)

            // > button
            //     padding: 0
            //     height: fit-content !important
            //     width: fit-content !important

.p-select-items-wrapper
    .p-scroller-content
        position: relative
        width: 100%
