<div class="flex min-h-full flex-col justify-center p-5 md:p-10">
  <p-button *ngIf="user && user['roles'].includes('admin')" size="large" class="block text-center" icon="pi pi-plus" [text]="true" (onClick)="openDialog()"></p-button>
  <div class="flex flex-wrap justify-center gap-5 md:gap-10">
    <app-section class="flex-[0_0_100%] sm:flex-[0_0_calc(50%-calc(var(--spacing)*2.5))] md:flex-[0_0_calc(50%-calc(var(--spacing)*5))]" *ngFor="let section of sections" [section]="section" (onSectionEdit)="openDialog(section)" (onSectionRemoved)="deleteSection(section)"></app-section>
  </div>
</div>
<p-dialog [modal]="true" [header]="(idEdit.length ? 'Modifier' : 'Ajouter') + ' un paragraphe'" contentStyleClass="flex flex-col gap-2" [dismissableMask]="true" [(visible)]="isDialogSectionShown">
  <form [formGroup]="formSection" class="flex flex-col gap-2 *:flex *:justify-evenly *:gap-2 [&_label]:flex [&_label]:w-full [&_label]:flex-col [&>label]:gap-0">
    <label>
      Rang
      <p-inputnumber formControlName="rank" [showButtons]="true" />
    </label>
    <label>
      Texte
      <textarea pTextarea formControlName="text" class="h-40 w-2xl"></textarea>
    </label>
  </form>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="isDialogSectionShown = false" [text]="true">Annuler</p-button>
    <p-button (onClick)="idEdit.length ? updateSection() : createSection()" [disabled]="!formSection.valid">{{ idEdit.length ? "Modifier" : "Ajouter" }}</p-button>
  </div>
</p-dialog>
