<div class="group card relative flex h-full items-center p-5 md:p-10">
  <div *ngIf="user && user['roles'].includes('admin')" class="absolute top-0 right-0 z-10 transition-opacity group-hover:opacity-100 lg:opacity-0">
    <p-button icon="pi pi-pencil" [text]="true" size="small" (onClick)="onSectionEdit.emit(section)" />
    <p-button icon="pi pi-trash" [text]="true" size="small" severity="danger" (onClick)="onSectionRemoved.emit(section)" />
  </div>
  <p class="m-0">{{ section.text }}</p>
</div>
