<div class="group card relative h-full p-10">
  <div *ngIf="user && user['roles'].includes('admin')" class="absolute right-0 top-0 z-10">
    <p-button icon="pi pi-pencil" class="opacity-0 transition-opacity group-hover:opacity-100" [text]="true" size="small" (onClick)="onSectionEdit.emit(section)" />
    <p-button icon="pi pi-trash" class="opacity-0 transition-opacity group-hover:opacity-100" [text]="true" size="small" severity="danger" (onClick)="onSectionRemoved.emit(section)" />
  </div>
  <h2>{{ section.title }}</h2>
  <p>{{ section.text }}</p>
</div>
